@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Space+Grotesk:wght@500&display=swap);

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-monst;
  }
}

.txts {
  -webkit-text-stroke: 1px white;
  -webkit-text-fill-color: transparent;
}

/* #wrapper {
  background-image: url(../public/image/wrapper.svg);
  background-size: cover;
  mix-blend-mode: lighten;
 
} */
#migration {
  background-image: url(../public/image/background.svg);
  background-size: cover;
 background-repeat: no-repeat;
}
.bg-update {
  border: 24px;
}
.bg-update-mobil {
  width: 100%;
  background-size: cover;
  background-position-y: bottom;
}
@layer base {
  .btn {
    display: flex;
    justify-items: center;
    align-items: center;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 24px;
    padding-right: 24px;
    background: linear-gradient(135deg, #FF00AA 0%, #F54562 100%);
    border-radius: 12px;
    outline: none;
    border: none;
  }
}


/* Hamburger Menu */
.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  width: 24px;
  height: 2px;
  top: 0;
  left: 0;
  background: #fff;
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger-middle {
  transform: translateY(7px);
}

.hamburger-bottom {
  transform: translateY(14px);
}

.open {
  transform: rotate(90deg);
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translateX(6px);
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translateX(-6px);
}
